//****************** FONT-COLORS *****************//
$primary-color: #888;
$secondary-color: #ccc;
$bg-color: #f5f5f5;
$dark-color: #333; 
$link-color: #4183c4;
$border-color: #e5e5e5;

//****************** MIXINS *****************//
@mixin border ($color){
	border-bottom: 1px solid $color;
}

@mixin md-btn($bg-color) {
	display: inline-block;
	vertical-align: middle;
	padding-top: 8px;
	width: 67px;
	height: 25px;
	margin-left: 1px;
	font-size: 13px;
	font-weight: bold;
	color: $dark-color;
	text-align: center;
	background: $bg-color;
	border: 1px solid $secondary-color;
	border-radius: 3px;
}

body {
	margin: 0;
	font-family: Helvetica, sans-serif;
	font-size: 13px;
}

a {
	text-decoration: none;
}

ul {
	list-style: none;
}

li {
	display: inline;
}

.contain {
	max-width: 982px;	
	margin: 0 auto;
}

//****************** HEADER *****************//

header {
	max-width: 100%;
	height: 48px;
	margin-bottom: 20px;
	background: $bg-color;							
	@include border($border-color);								
}

//Logo and input

.octicon-mark-github {
	vertical-align: middle;
	margin: 0 1px 1px -1px;
	font-size: 28px;
	color: $dark-color;
	
	&:hover {
		color: $link-color;
	}
}

.search-field {
	width: 348px;
	height: 24px;
	padding-left: 9px;
	margin-top: 10px;
	margin-left: 5px;
	border: 1px solid $secondary-color;											
	border-radius: 3px;
}

//*** nav-styles ***//

.head-nav {
	display: inline-block;
	font-family: Helvetica;
	font-size: 13px;
	font-weight: bold;
}

.head-nav-text{
	margin-left: 12px;
	color: $dark-color;
	
	&:hover {
		color: $link-color;
	}
}

//middle-nav

.head-mid-nav {
	margin-left: -37px;
}

//right-nav

.head-right-nav {
	margin-left: 100px;
}

.nav-img {
	vertical-align: middle;
	width: 20px;
	height: 20px;
	margin: -1px 1px 0 -1px;
	border-radius: 3px;
}

.header-name {
	display: inline-block;
	margin-right: 10px;
	margin-left: 4px;
	color: $dark-color;

	&:hover {
		color: $link-color;
	}
}

.octicon-nav {
	font-size: 18px;
}

.octicon-triangle-down {
	vertical-align: middle;
	margin-bottom: 2px;
	margin-left: 2px;
	font-size: 11px;
}


//****************** USER *****************//

.user {
	vertical-align: top;
	display: inline-block;
	width: 230px;
	margin-right: 18px;
}

//user img-name

.user-img {
	width: 230px;	
	height: 230px;			
	border-radius: 5px;
}

.main-name {
	margin-top: 2px;
	margin-bottom: -16px;
	color: $dark-color;
}

.user-name {
	padding-bottom: 17px;
	margin-bottom: 18px;
	color: #666674;
	font-weight: lighter;
	@include border($border-color);	 								
}

//user-info

.user-info {
	padding-bottom: 10px;
	margin-left: -38px;
}

.user-info-nav{
	display: inline-block;
	margin-bottom: 7px;
	font-size: 14px;
	color: $dark-color;
}

.email {
	color: $link-color;

	&:hover {
		text-decoration: underline;
	}
}

.oct-user {
	margin-right: 8px;
	color: $secondary-color;										
}

//follow-section

.follow-section {					
	padding: 13px 0 2px 0;
	margin-top: -11px;
	border-top: 1px solid $border-color;    					
	@include border($border-color);					
}

.follow-contain {
	display: inline-block;
	margin-right: 17px;
	margin-left: 14px;
}

.follow-text {
	font-size: 11px;
	color: $primary-color;

	&:hover {
		color: $link-color;
	}	
}

.follow-number {
	display: block;
	margin-left: 14px;
	margin-bottom: -11px;
	font-size: 28px;
	font-weight: bold;
	color: $link-color;
}

//organizations

.organizations {
	margin-top: 24px;
	margin-bottom: 15px;
	font-size: 16px;     
	color: $dark-color;	
}

.org-img {
	width: 42px;
	height: 42px;
	border-radius: 3px;		 
}

//****************** REPO TABS *****************//

.main-repos {
	display: inline-block;
	width: 729px;
}

.repo-nav {
	padding-bottom: 6px;
	margin-bottom: 30px;
	@include border($border-color);									
}

//first-line

.repo-tabs {
	padding-bottom: -15px;
	margin-top: -3px;
	margin-bottom: 5px;
	@include border($border-color);									
}


.repo-tabs-list {
	display: inline-block;
	margin-bottom: 8px;
	margin-left: -28px;
	font-size: 14px;
}		

.tab-text {
	margin-right: 13px;
	color: $primary-color;												
}

.respo-tab {
	padding: 10px 12px 8px 12px;
	margin-right: 12px;
	color: $dark-color;
	border: 1px solid $border-color;									
	@include border(#fff);	
	border-radius: 3px;
}

.edit-button {	
	float: right;
	width: 105px;
	height: 21px;
	padding-top: 3px;	
	margin-top: 3px;
	font-size: 13px;
	font-weight: bold;
	color: $dark-color;
	text-align: center;										
	background: $bg-color;
	border: 1px solid $secondary-color;								  
	border-radius: 4px;	

	&:hover {
			background: #e4e2e4;
	}

	&:active {
		-webkit-box-shadow: inset -0 1px 6px 0 rgba(163,160,163,1);
	}
}



//second-line

.repo-search {
	width: 247px;
	height: 30px;
	padding-left: 9px;
	margin-top: 10px;
	font-size: 12px;												
	border: 1px solid $secondary-color;
	border-radius: 3px;
}

.repo-search-btn {														
	@include md-btn($bg-color);

	&:hover{
		background: #e4e2e4;
	}

	&:active {
		-webkit-box-shadow: inset 0px 1px 5px 0 rgba(163,160,163,1);
	}
}

.repo-tab-links {
	display: inline-block;
	margin-left: -9px;
	font-size: 14px;

	a {
		margin-right: 6px;
		color: $link-color;
		
		&:hover {
			color: $dark-color;
			text-decoration: underline;
		}
	}
}

.repo-new-btn {
	@include md-btn(green);
	margin-top: -4px;													
	margin-left: 6px;
	color: #fff;
	background: linear-gradient(#88db6b, #62b246);
	border-color: #5ca941;

	&:hover {
		background: linear-gradient(#77db5a, #50a024);
	}

	&:active {
		-webkit-box-shadow: inset 0px 8px 14px -4px rgba(30,117,30,1);
	}
}

//****************** REPOS *****************//

//left-side

.repo-list {
	padding-bottom: 33px;
	margin-bottom: 30px;	
	@include border($border-color);		
}

.repo-name {																	
	margin-bottom: 10px;
	color: $link-color;

	&:hover {
		text-decoration: underline;
	}
}

.repo-update {
 	font-size: 13px;
 	color: $primary-color; 															
}

//right-side

.star-fork {
	float: right;
	margin-top: -25px;
	font-size: 12px;
	font-weight: bold;
	color: $primary-color;

	a {
		margin-left: 8px;
		color: $primary-color;

		&:hover {
			color: $link-color;
		}

		span {
			font-size: 14px;
		}
	}

}
//****************** FOOTER *****************//

.footer {
	padding-top: 28px;
	margin-bottom: 30px;
	font-size: 12px;									
	border-top: 1px solid $border-color;
}

//*** nav-styles ***//

.footer-nav-text {
	margin-right: 10px;
	color: $link-color;

	&:hover {
		text-decoration: underline;
	}
}

//left-nav

.footer-nav-left {
	display: inline-block;
	padding-left: 0;
	margin-right: 74px;
}

//logo

.footer-nav-left > :first-child {
	color: #777;
	text-decoration: none;									
}

.octicon-foot {
	margin-left: 74px;
	font-size: 24px;
	color: $secondary-color;											

	&:hover {
		color: #bbb;										
	}
}

//right-nav

.footer-nav-right {
	display: inline-block;
	float: right;
	margin-right: -10px;
} 











